- bs_c = { battle_button: "btn btn-light btn-block" }

%h1
  %i.fas.fa-dragon
  RGA

%h2 RGAとは...
%p SUPERな放置ゲームです
%p もしくはタップゲームかも知れません
%p ご期待ください！

#job-select.mb-5
  - current_job_id = current_user.player.current_job_id
  - current_job = { name: Job.find(current_job_id).job_name,
                    level: JobLevel.find_by(job_id: current_job_id).job_level }
  現在ジョブ
  = current_job[:name]
  (ジョブ Lv :
  = current_job[:level]
  )

= link_to battles_path, class: bs_c[:battle_button] do
  バトルへ
