- bs_c = { battle_button: "btn btn-light btn-block" }

%h1
  %i.fas.fa-dragon
  RGA

%h2 RGAとは...
%p SUPERな放置ゲームです
%p もしくはタップゲームかも知れません
%p ご期待ください！

= link_to battles_path, class: bs_c[:battle_button] do
  バトルへ
